h2.bb_h2{ font-size: 1.0em; font-weight: bold; text-align: center; margin: 10px 20px 5px 20px; }
h3.bb_h3{ font-size: 1.0em; font-weight: bold; text-align: left;  }

[class^="bb_"].align_left{ text-align: left; }
[class^="bb_"].align_right{ text-align: right; }
[class^="bb_"].align_center{ text-align: center; }
[class^="bb_"].align_justify{ text-align: justify; }

.bb_sup{ position: relative; top: -0.3em; }
.bb_sub{ position: relative; bottom: -0.3em; }
.bb_sub + .bb_sup{ margin-left: -0.55em; }
.bb_sup + .bb_sub{ margin-left: -0.55em; }