@charset "windows-1251";
article,aside,figcaption,figure,footer,header,main,hgroup,nav,section,time,ul,ol,h1,h2,h3{ display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; }
html,body,div,main,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,textarea,span{margin: 0; padding: 0; -moz-box-sizing: border-box; box-sizing: border-box; }
input, textarea, select, button, body{  }
body{ color: #222222; background: #FFFFFF; overflow-y: scroll; overflow-x: hidden; }
*{
    font-kerning: normal;
    -webkit-font-kerning: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    z-index: : 1;
 }

a, select, option{ cursor: pointer; }

ul.reset{ list-style: none; }

a:link, a:visited, .anim
{
	-webkit-transition: color 0.2s ease, background 0.2s ease;
	-moz-transition: color 0.2s ease, background 0.2s ease;
	-ms-transition: color 0.2s ease, background 0.2s ease;
	-o-transition: color 0.2s ease, background 0.2s ease;
	transition: color 0.2s ease, background 0.2s ease;
}

a:link, a:visited
{
    color: #398dd8;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}
a:active{ outline: none; }

a img  { border: 0 none; }
.clear{ clear: both; }
.dnone{ display: none; }
.center{ text-align: center; }

input:disabled{ cursor: not-allowed; }

input::-moz-focus-inner{border:0;padding:0;}
button::-moz-focus-inner{border:0;padding:0;}
select::-moz-focus-inner{border:0;padding:0;}
textarea::-moz-focus-inner{border:0;padding:0;}
option::-moz-focus-inner{border:0;padding:0;}

input[type="text"], input[type="password"], textarea, select
{
	-webkit-transition: border-color 0.2s ease, color 0.2s ease, background 0.2s ease;
	-moz-transition: border-color 0.2s ease, color 0.2s ease, background 0.2s ease;
	-ms-transition: border-color 0.2s ease, color 0.2s ease, background 0.2s ease;
	-o-transition: border-color 0.2s ease, color 0.2s ease, background 0.2s ease;
	transition: border-color 0.2s ease, color 0.2s ease, background 0.2s ease;
    border: 1px solid #333333;
    padding: 5px;
    color: #555555;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover
{
    -moz-user-focus: none !important;
    border-color: #398DD8;
    color: #555555;
    background-color: #E1EEF9;
    cursor: pointer;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus
{
    -moz-user-focus: none !important;
    border-color: #398DD8;
    color: #111111;
    background-color: #F2F8FC;
    cursor: text;
}

input[type="text"][disabled="disabled"], input[type="password"][disabled="disabled"], textarea[disabled="disabled"], input[type="text"][readonly="readonly"], input[type="password"][readonly="readonly"], textarea[readonly="readonly"]{ cursor: text; }
.curpointer{ cursor: pointer; }
.noselect{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
input[type="checkbox"]{ display: inline-block; position: relative; top: 2px; }
.nocursor{ cursor:none; }
table, table td{ border-collapse: collapse; border: none; }

[data-role="dialog:window"]{ display: none; }

button
{
    display: inline-block;
    position: relative;
    padding: 8px 5px 8px 5px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #184D7B;
    background: #398DD8;
    color: #FFFFFF;
    cursor: pointer;
    width: 120px;
    opacity: 0.8;
}

button:active{ background-color: #66A7E1; opacity: 1.0; }
button:hover{ background-color: #66A7E1; opacity: 1.0; }


.wpage{ width: 960px; margin: 0px auto;  }
#page
{
    padding: 0px 10px 0px 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
}
#page .topnav{ position: relative; }
#page .topnav #log_in_out{ }
#page .topnav #log_in_out a{ }
#page .topnav #log_in_out a:hover{ }
#page .topnav, #page .topnav ul.nav, #page .topnav ul.nav>li, #page .topnav ul.nav>li>a{ height: 30px; }
#page .topnav ul.nav{  }
#page .topnav ul.nav>li{ display: block; float: left; }
#page .topnav ul.nav>li>a{ display: block; background: #FFFFFF; color: #333333; padding: 0px 0px 0px 10px; overflow: hidden; position: relative; z-index: 11; }
#page .topnav ul.nav>li>a span{ display: block; background: #FFFFFF; border-right: 1px solid #AAAAAA; padding-right: 10px; margin: 7px 0px 0px 0px; }
#page .topnav ul.nav>li>a:hover{ color: #398DD8; }
#page .topnav ul.nav>li:hover>a{ color: #398DD8; }
#page .topnav ul.nav>li>a:active{ color: #339900; }
#page .topnav ul.nav>li:first-of-type>a{ padding-left: 0px; }
#page .topnav ul.nav>li:last-of-type>a>span{ border-right: none; }
#page .topnav .submenu{ top: 30px; }

#page ul.nav>li .submenu a{ #333333 }
#page ul.nav>li .submenu a:hover{ #398DD8 }

#page ul.nav>li:hover, #page ul.nav>li .submenu, #page .topnav ul.nav>li:hover>a, #page .topnav ul.nav>li:hover>a>span{ background: #FFFFFF; }
#page ul.nav>li:hover .submenu{ display: block; }
#page .submenu
{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: none;
    border: 1px solid #CCCCCC;
    border-top: none;
    width: 150px;
    box-shadow: 0 0 10px #CCCCCC;
    padding: 0px 0px 5px 0px;
    text-align: left;
}

#page .submenu ul.subnav>li{ display: block; }
#page .submenu ul.subnav>li:hover{}
#page .submenu ul.subnav>li>a{ color: #333333; display: block; padding: 5px 10px 5px 10px; }
#page .submenu ul.subnav>li>a:hover{ color: #398dd8; }



#page .logo{ border: 3px solid #000000; border-left: none; border-right: none; padding: 5px 0px;  }
#page .logo a{ color: #222222; display: block; width: 100%; padding: 17px 0px 10px 0px; position: relative; overflow: hidden; }
#page .logo a>b, #page .logo a>b+i{ color: #555555; display: block; width: 100%; text-align: center; text-transform: uppercase; font-style: normal; font-weight: bold; position: relative; }
#page .logo a>b{ font-size: 24px;  }
#page .logo a>b>u{ color: #398DD8; text-decoration: none; font-size: 24px; }
#page .logo a>b+i{ font-size: 10px; top: -5px; color: #555555 }

#page .logonav ul.logonav{ height: 50px; border-bottom: 3px solid #000000;; text-align: center; }
#page .logonav ul.logonav>li, #page .logonav ul.logonav>li>a{ height: 40px; position: relative; }
#page .logonav ul.logonav>li{ display: inline-block;  margin: 4px 0px 5px 5px; width: 150px; }
#page .logonav ul.logonav>li:first-of-type{ margin-left: 0px;}
#page .logonav ul.logonav>li>a{ display: block; background: #FFFFFF; color: #222222; font-weight: bold; text-transform: uppercase; padding: 0px 15px 0px 15px; }
#page .logonav ul.logonav>li>a:hover, #page .logonav ul.logonav>li:hover>a, #page .logonav ul.logonav>li.active>a{ background: #398DD8; color: #FFFFFF; z-index: 11; }
#page .logonav ul.logonav>li>a>span{ display: block; padding: 13px 0px 0px 0px; font-size: 11px;  }
#page .logonav ul.logonav>li>.submenu{ display: none;  }
#page .logonav ul.logonav>li:hover>.submenu{ display: block; background: #FFFFFF }

#page .topnav ul.nav>li#alogin{ float: right; width: 150px; text-align: right; }
#page .topnav ul.nav>li#alogin>a{ text-align: right; }
#page .topnav ul.nav>li#alogin>a>span{ text-align: right; margin-right: 0px; padding-right: 0px; }
#page .topnav ul.nav>li#alogin .submenu{ width: 120px; right: 0px; text-align: center; }

#page .content{ margin-top: 5px; position: relative; z-index: 8; }

#page #content{ width: 65%; padding: 0px 5px 5px 0px; margin: 0px 0px 5px 0px; border-right: 1px solid #AAAAAA; z-index: 9; position: relative; top: 0px; left: 0px; }
#page #content[data-area="fullpost"]{ width: 100%; border-right: none; }
#page #aside{ position: absolute; top: 0px; right: 1px; width: 35%; padding: 0px 0px 5px 5px; border-left: 1px solid #AAAAAA; z-index: 10; }
#page #aside .frame{ border-bottom: 1px solid #CCCCCC; padding: 5px 0px 5px 0px; }
#page #aside .frame:first-of-type{ padding-top: 0px; }

#page #content .cblock{ margin: 0px 0px 5px 0px;  }
#page #content .info{ border: 1px solid #FF00FF; padding: 5px; background: #FF00FF; color: #FF00FF; text-align: justify;  }
#page #content .info>h1{ font-size: 14px; text-align: center; padding: 5px; }
#page #content .info>b{ font-weight: normal; font-size: 14px; opacity: 0.8; }
#page #content .info.warn{ border-color: #FF0000; background-color: #FFDBDB; color: #333333; }
#page #content .info.notice{ border-color: #FF6600; background-color: #FFE699; color: #333333; }
#page #content .info.good{ border-color: #0F4C00; background-color: #CAFFBD; color: #333333; }

#page .footer{ border-top: 3px solid #000000; padding: 20px; text-align: center; }


#loginform{ padding: 25px 0px 25px 0px; }
#loginform form{ text-align: center; padding: 0px 10px 0px 10px; }

#loginform form p
{
    width: 100%;
    padding: 5px 0px 5px 0px;
}

#loginform form input[type="text"],#loginform form input[type="password"], #loginform form select
{
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

#loginform a
{
    text-align: center;
    padding: 15px 0px 5px 0px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

#user_panel{}
#user_panel ul{ list-style: none; }
#user_panel ul li{ display: block; padding: 8px 0px 8px 0px; text-align: center; text-transform: uppercase; font-weight: bold; }
#user_panel ul li:hover{ background: #398DD8; }
#user_panel ul li:hover a{ color: #FFFFFF; }

#page #content .article{ border-bottom: 1px solid #AAAAAA; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; position: relative; overflow: hidden;  }
#page #content .article .article_top{ padding: 2px 0px 5px 0px; }
#page #content .article .article_top h1{ font-size: 14px; text-align: justify; text-transform: uppercase;color: #222222; display: inline; }
#page #content .article .article_top .topcateg{ display: inline-block; min-width: 100px; max-width: 150px; text-align: center; background: #777777; border: 1px solid #777777; padding: 1px 5px 1px 5px; margin: 0px 5px 0px 0px; position: relative; top: -1px; cursor: pointer; }
#page #content .article .article_top .topcateg.date{ cursor: auto; }
#page #content .article .article_top .topcateg a,
#page #content .article .article_top .topcateg.date span{ color: #FFFFFF; font-weight: bold; text-transform: uppercase; font-size: 10px; display: inline-block; position: relative; top: -1px; }
#page #content .article .article_top .topcateg:hover{ border-color: #398DD8; background: #FFFFFF; }
#page #content .article .article_top .topcateg:hover a{ color: #398DD8; }

#page #content .article .article_top .topcateg.date:hover{ border-color: #777777; background: #777777; }
#page #content .article .article_top .topcateg.date:hover span{ color: #FFFFFF; }

#page #content .article .text{ font-size: 14px; text-align: justify; }
#page #content .article .attr_panel{ position: relative; height: 35px; width: 100%; bottom: 0px; right: 0px; overflow: hidden; text-align: left; }
#page #content .article .attr_panel a.more{ display: block; width: 90px; padding: 4px 10px 5px 10px; border: 1px solid #398DD8; font-size: 14px; color: #FFFFFF; background: #398DD8; position: absolute; bottom: 5px; right:0px; }
#page #content .article .attr_panel a.more:hover{ color: #398DD8; background: #FFFFFF; }
#page #content .article .attr_panel .taglist{ position: absolute; bottom: 8px; left: 0px; }
#page #content .article .attr_panel .taglist a{ text-transform: lowercase; color: #398DD8; margin: 0px 5px 0px 0px; font-weight: bold; font-style: italic; }
#page #content .article .attr_panel .taglist a::after{ content:"," }
#page #content .article .attr_panel .taglist a:last-of-type::after{ content: none }
#page #content .article .attr_panel .taglist a:first-of-type::before{ content: "" }

#page #content .article.short{ min-height: 160px; max-height: 200px; overflow: hidden; }
#page #content .article.short .attr_panel{ width: 420px; position: absolute; bottom: 0px; right: 0px; background: #FFFFFF }

#page #content .article.full{ padding-right: 10px; }
#page #content .article.full h1{ display: block; font-size: 16px; text-align: center; margin: 10px 0px 10px 0px; }
#page #content .article.full h2{ }
#page #content .article.full img{ text-align: center; padding: 3px; border: 1px solid #E0E0E0; }
#page #content .article.full code{ font-size: 12px; border: 1px solid #888888; padding: 7px 5px 7px 5px; margin: 5px 0px 5px 0px; display: block; max-height: 200px; overflow: auto; color: #222222; background: #E1EEF9; }
#page #content .article.full .text{ line-height: 1.5; font-size: 16px; }
#page #content .article.full .text p{ margin: 0px 0px 5px 0px; text-indent: 7mm; position: relative; }
#page #content .article.full .text p.align_center{ text-indent: 0px; }
#page #content .article.full .attr_panel{  }
#page #content .article.full .attr_panel .categ{ display: block; position: absolute; bottom: 0px; left: 0px; width: 100px; }
#page #content .article.full .attr_panel .categ a{ font-weight: bold; font-style: italic; }
#page #content .article.full .attr_panel .taglist{ display: block; position: absolute; bottom: 0px; left: auto; right: 0px; width: 100px; text-align: right; }

#page #content .article.short .post_short_image{ border: 1px solid #888888; width: 188px; height: 108px; float: left; }
#page #content .article.short .post_short_image img{ margin: 2px; width: 180px; height: 100px; background: #DDDDDD; border: 1px solid #CCCCCC; }
#page #content .article.short .text{ width: 420px; float: right; }

#page #aside .frame #stats_cms{  }
#page #aside .frame #stats_cms p{ float: none; font-size: 12px; position: relative; margin: 0px; padding: 5px 10px 0px 5px; text-transform: uppercase; font-weight: bold; }
#page #aside .frame #stats_cms p.db{  }
#page #aside .frame #stats_cms p.sub{ padding-left: 40px; }
#page #aside .frame #stats_cms p.subsub span{ padding-left: 70px; font-weight: normal; font-style: italic; }
#page #aside .frame #stats_cms p:first-of-type{ padding-top: 0px; }
#page #aside .frame #stats_cms p span{ display: inline-block; width: 60%; text-align: left; }
#page #aside .frame #stats_cms p span+b{ display: inline-block; width: 40%; text-align: right; font-weight: bold; color: #2370B3; }






















